.container
{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    grid-gap: 3%;
    margin: 3%;
}

.row
{
    padding: 3%;
}

.col
{
    padding: 3%;
}

img:hover
{
    border: 1px solid red;
}

#bigPictDiv
{
    display: none;
}