#container
{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 3%;
    margin: 3%;
}

.row
{
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
}

.col
{
    padding: 3%;
}

.row img:hover
{
    transform: scale(1.2); 
}

#bigPictDiv
{
    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 10%;
    right: 10%;
    background-color: grey;
    display: none;
}

#pictDiv
{
    left: 20%;
    right: 20%;
    text-align: center;
}

#bigPict
{
    width: 300px;
    height: 300px;
    padding-top: 5%;
}

#buttonDiv
{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    text-align: center;
}

button
{
    background-color: black;
    border: none;
    color: white;
    padding: 3% 10%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 30px;
    border-radius: 8px;
}